* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: aquamarine;
}
#wrapper {
  margin: 40px auto;
  width: 70%;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.section {
  width: 48%;
  padding: 30px;
  text-align: center;
}
.section button {
  padding: 15px 30px;
  border-radius: 10px;
  border: 2px solid;
  background-color: #a93030;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

button::before,
button::after {
  position: absolute;
  content: "";
  z-index: -1;
  transition: all 0.5s;
}

/* FIRST BUTTON */

#sec1 button::before,
#sec1 button::after {
  height: 100%;
  width: 0;
  z-index: -1;
  top: 0;
}
#sec1 button::before {
  left: 0;
  background-color: red;
}
#sec1 button::after {
  right: 0;
  background-color: green;
}
#sec1 button:hover::before,
#sec1 button:hover::after {
  width: 50%;
}

/* SECOND BUTTON */

#sec2 button::before {
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -90%;
  background: linear-gradient(to bottom, lightgreen, green);
}
#sec2 button:hover::before {
  bottom: 0;
}

/* THIRD BUTTON */

/* FOURTH BUTTON */

#sec4 button::before {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  top: -72px;
  left: -104px;
  z-index: -1;
}
#sec4 button:hover::before {
  transform: scale(5);
}

#sec3 button::before {
  width: 15px;
  height: 80px;
  background-color: red;
  top: -25px;
  left: -27px;
  transform: rotate(20deg);
}

#sec3 button:hover::before {
  left: 170px;
}
